Can you list off some of your clients? Of course, don't use their full names, or for right now, don't use names at all.<br>

<h4> Client List </h4>

{% if client_list %}
	<br>
	You've told me about these clients:<br>
    <ul>
    {% for client in client_list %}
        <li> {{ client.name }} </li>
    {% endfor %}
    </ul>
{% else %}
    You haven't told me about your clients yet. You can use the form below!<br>
{% endif %}

<h4> Add a Client </h4>

<form action="/clients/" method="post">
{% csrf_token %}
Client's name: 
<input type="text" name="name" /><br>

{% for cit in client_info_type_list %}
    Date of {{cit.title}}: <input type="date" name="{{cit.title}}" /> <br>
{% endfor %}

<input type="submit" value="submit" />
</form>

Ok, once you have your deliverables, and your clients, you can [TODO add link] specify what clients need which deliverables.