
<br>
<i> Hey, I'm going to be changing this to read something more conversational.</i><br>
What is the title of this deliverable? {{dl.title}}<br>
What is the spacing of the final deadline? {{dl.final.offset}}<br>
What is the anchor from which that time is measured? {{dl.final.relative_info_type.title}}<br>
<br>
{% if step_deadlines %}
	<br>
	I know about these other deadlines:<br>
    <ul>
    {% for step_deadline in step_deadlines %}
        <li> {{step_deadline.title}} is due {{step_deadline.offset}} days after {{step_deadline.ancestor.title}} </li>
    {% endfor %}
    </ul>
{% else %}
    Now let's work backwards. What other deadlines do you have for this deliverable? You can create more deadlines with the form below.<br>
{% endif %}
<br>

<form action="/deliverable/{{dl.id}}/" method="post">
{% csrf_token %}
What is the title of this deadline? <input type="text" name="title" /><br>
What is the spacing of this deadline? <input type="number" name="number" /><br>
What is the anchor from which that time is measured?

<select name="anchor">
{% for deadline in deadlines %}
    <option value="{{deadline.deadline_ptr.id}}">{{deadline.title}}</option>
{% endfor %}
</select>
<br>

<input type="submit" value="submit" />
</form>

When you're finished adding deadlines, you can return to the <a href="/deliverables/"> deliverables </a>.