{% extends 'paperwork/base.html' %}

{% block content %}

<h3> {{dl.title}} </h3>

This deliverable is due {{dl.final.pretty_offset}} 
the client's {{dl.final.relative_info_type.title}}.<br>
{% if dl.review %}
    The reviews are due {{dl.review.pretty_offset}} the most recent signature.<br>
{% else %}
    This deliverable is not reviewed.<br>
{% endif %}

{% if step_deadlines %}
	<br>
	I know about these other deadlines:<br>
    <ul>
    {% for step_deadline in step_deadlines %}
        <li> {{step_deadline.title}} {{step_deadline.pretty_offset}}
        you {{step_deadline.ancestor.title}} </li>
    {% endfor %}
    </ul>
{% else %}
    Now let's work backwards. What other deadlines do you have for this deliverable? You can create more deadlines with the form below.<br>
{% endif %}
<br>

<form action="/deliverable/{{dl.id}}/new_deadline/" method="post">
{% csrf_token %}
I want to 
<input type="text" name="title" placeholder="submit to my supervisor"/>
<input type="number" name="number" placeholder="3" />
<select name="duration">
{% for d in duration %}
    <option value="{{d.value}}">{{d}}</option>
{% endfor %}
</select>
<select name="relation">
	<option value="before">before</option>
	<option value="after">after</option>
</select>
I
<select name="anchor">
{% for deadline in deadlines %}
    <option value="{{deadline.deadline_ptr.id}}">{{deadline.title}}</option>
{% endfor %}
</select>
<br>

<input type="submit" value="submit" />
</form>

When you're finished adding deadlines, you can return to the 
<a href="/deliverables/">deliverables</a>.
{% endblock %}