Hi Jordan! <br>
<br>
This is the website, version 0.0.2. <br>

<h3> The Paperwork Treadmill </h3>
You're writing up a note for your session with little Johnny when you're 
interrupted by...<br>
<i> TODO: I want to write a little story here of a day at work, highlighting 
the problems you're facing that this tool and scheduler should solve. It may 
point out the problems of interruption and self-interruptions on anxiety and 
task performance. If you think it's good, maybe a little story on missing 
deadlines?</i><br>
<br>
<h3> Our Answer </h3>
Why try to remember that all? Let a computer do it for you. 
Then, you can focus on what makes you great.
<br>
<a href="/new_deliverable/">Begin here.</a>